.choose-file-block label {
    min-width: 7rem;

    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 1;
    cursor: pointer;
    background: $file__btn;
    border-radius: 3px;
    padding: 0.85rem;
    font-size: 0.82rem;
    color: $gray__light;
    font-weight: 400;
    text-align: center;

    transition: background 0.2s linear;

    &:hover {
        background: $blue__light;
    }
}


.choosen-file-name {
    padding: 1rem;
    padding-right: 8rem;
}

.choose-file {
    display: none;
}