.header {
    width: 100%;
    background-color: $white;
    position: fixed;
    z-index: 1000;

    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
}

.header__logo {
    display: flex;
}