.project__col {
    display: block;
    flex-wrap: wrap;
    width: 100%;
}

.col__left {
    margin-right: 7%;
    width: 75%;

    @media screen and ($mobile) {
        width: 100%;
    }
}

.project__title {
    margin-bottom: 0.92rem;

    font-size: 1.08rem;
    font-weight: 700;
    color: $black;
}

.title {
    font-size: 0.92rem;
}


.project__input {
    margin: 1rem 0;
    padding: 1rem 0 1rem 3rem;
    width: 75%;

    border: 1px solid rgba($color: $gray__light, $alpha: 0.5);
    border-radius: 4px;
    outline: none;
    transition: border 0.2s linear;

    position: relative;
    background-color: transparent;
    z-index: 2;

    &:focus,
    &:not(:placeholder-shown) {
        border: 1px solid $blue__btnbg;

        ~.project__label {
            top: 20%;
            font-size: 0.7rem;
        }
    }

    // @media screen and ($tablet) {
    //     width: 500px;
    //     margin: 1rem 95px 1rem 0;
    // }

    @media screen and ($mobile) {
        width: 100%;
    }

    @media screen and ($mobile-sm) {
        margin: 0.5rem 0;
    }
}

.project__label {
    font-size: 0.83rem;
    font-weight: 300;
    color: $gray__light;

    position: absolute;
    top: 41%;
    left: 46px;
    z-index: 0;

    transition: 0.3s;
}

.project__img {
    position: absolute;
    top: 40%;
    left: 1rem;
    z-index: 0;

    @media screen and ($mobile-sm) {
        top: 35%;
    }
}

.project__mandatory {
    width: 1.7rem;
    height: 1.7rem;
    background-color: $blue__nav;
    border-radius: 1rem;
    position: absolute;
    top: 30%;
    right: 15%;
    z-index: 1;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $blue__light;

        .project__star {
            color: $white;
        }
    }

    @media screen and ($mobile) {
        right: -10%;
    }

    @media screen and ($mobile-sm) {
        right: -2rem;
    }
}

.field {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;
}

.mandatory__text {
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem 2.5rem;

    font-size: 0.73rem;
    color: $gray__light;
    font-weight: 300;
    align-items: center;
    cursor: default;
}


.project__star {
    padding: 3px 8px;
    cursor: default;
    font-size: 1.5rem;
    color: $gray;
    font-weight: 700;

    transition: color 0.2s linear;
}


.link_desc {
    display: block;

    .project__input {
        width: 100%;

        // @media screen and ($tablet) {
        //     width: 500px;
        // }

        // @media screen and ($mobile) {
        //     width: 400px;
        // }

        // @media screen and ($mobile-sm) {
        //     width: 285px;
        // }

        // @media screen and ($mobile-se) {
        //     width: 260px;
        // }
    }
}

.project__desc {
    padding-bottom: 5rem;

    &:focus,
    &:not(:placeholder-shown) {
        ~.label__desc {
            top: 12px;
            font-size: 0.7rem;
        }
    }
}



.label__desc {
    top: 22%;
}

.img__desc {
    top: 22%;
}

.project__image {
    position: relative;
    margin-bottom: 5rem;
}


.project__border {
    position: absolute;
    height: 3.2rem;
    width: 100%;

    border: 1px solid rgba($color: $gray__light, $alpha: 0.5);
    border-radius: 4px;
    outline: none;
    transition: border 0.2s linear;
}

.project__clone {
    margin: 4rem 0 0 0;
}