/*  Color   */

$black: #282828;


$gray: #8e8e8e;
$gray__light: #7b7b7b;
$gray__med: #959595;

$gray__dot: #dbdbdb;

$blue__logofirst: #1176d3;
$blue__logosecond: #4598ff;
$blue__btnbg: #0ba0ff;
$blue__bg: #f0f6f7;
$blue__nav: #e7f0f2;
$blue__light: #c0d3d6;
$file__btn: #dde4e5;

$white: #fff;

$red__light: #ffa3a3;
$red__med: #fe8787;


/* Media    */

$mobile-se: "max-width: 321px";
$mobile-sm: "max-width: 565px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";