@import "vars";

html {
    font-size: 15px;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    background-color: $blue__bg;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*  Blocks  */

@import "blocks/container";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/form";
@import "blocks/project";
@import "blocks/radio";
@import "blocks/file";
@import "blocks/footer";
@import "blocks/burger";